* {
  box-sizing: border-box;
}

img {
    border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
}



.about-me {
  display: flex;
  width: 100%;
  background-color: red;
  justify-content: start;
}

.about-me img {
  border-radius: 10%;
  width: 50%;
  display: block;
  height: auto;
}

